<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="InputFile" value="input.txt" />
      <add key="OutputFile" value="output.txt" />
      <add key="OpenWords" value="&lt;html&gt; &lt;title&gt; &lt;body&gt;"/>
      <add key="CloseWords" value="&lt;/html&gt; &lt;/title&gt; &lt;/body&gt;"/>
    </appSettings>
</configuration>