@{
    ViewBag.Title = "Check Expression";
}

<h1>Check expression</h1>
<p>You can check your expression for the following html tags:</p>
<ul>
    @foreach (var tag in ViewBag.Tags)
    {
        <li>@tag</li>
    }
</ul>

<a class="btn btn-primary" href="#file" data-toggle="collapse" data-target="#from_file">Check from file</a>
<a class="btn btn-primary" href="#database" data-toggle="collapse" data-target="#from_database">Check from database</a>
<a class="btn btn-primary" href="#ui" data-toggle="collapse" data-target="#from_ui">Check from ui</a>


<div id="from_file" class="collapse">
    <label for="file_upload">Choose file to upload</label>
    <input type="file" id="file_upload" accept=".txt">
    <button type="submit" class="btn btn-success">Check expression</button>
</div>
<div id="from_database" class="collapse">
    <label for="record_id">Enter database record id</label>
    <input type="text" id="record_id" class="form-control">
    <button type="submit" class="btn btn-success">Check expression</button>
</div>
<div id="from_ui" class="collapse">
    <label>Enter text to verify</label>
    <textarea id="expression" class="form-control"></textarea>
    <button type="submit" class="btn btn-success">Check Expression</button>
</div>
<hr />

@section scripts
{
    <script type="text/javascript">
        $('.collapse').on('show.bs.collapse', function () {
            $('.collapse.in').each(function () {
                $(this).collapse('hide');
            });
        });
    </script>
}
