@{
    ViewBag.Title = "Results History";
}
<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Time</th>
            <th scope="col">Result</th>
        </tr>
        <tr runat="server" id="itemPlaceholder"></tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (var result in Model)
            {
                <tr>
                    <th scope="row">@result.LogID</th>
                    <td>@result.Time</td>
                    <td>
                        @if (result.Result)
                        {
                            <i class="fa fa-check-circle"></i>
                        }
                        else
                        {
                            <i class="fa fa-times-circle"></i>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
    
